.page {
    padding: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 450px;
    background-color: var(--background-color);
    flex: 1;
    min-height: calc(100vh - var(--bottom-menu-height) - var(--header-height));
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
