.header {
    background: #000;
    height: var(--header-height);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.text {
    color: white;
}
