.header {
    background: #000;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}

.text {
    color: white;
}